.bash_history
.eclipse/
.gitconfig
.lesshst
.m2/
.p2/
1NPDPRO5.DOC
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{78abec06-52c7-11f0-bfbd-74dfbfca25f2}.TM.blf
NTUSER.DAT{78abec06-52c7-11f0-bfbd-74dfbfca25f2}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{78abec06-52c7-11f0-bfbd-74dfbfca25f2}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
eclipse-workspace/
eclipse/
logfile
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
